# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=https://aif.cutcode.dev/docs

STUDIO_GITHUB_CLIENT_ID=
STUDIO_GITHUB_CLIENT_SECRET=
STUDIO_GITHUB_REDIRECT_URL=https://aif.cutcode.dev/__nuxt_studio/auth/github
# Optional whitelist by email: comma-separated list
# STUDIO_GITHUB_MODERATORS=admin@example.com,editor@example.com

# Optional overrides for repository auto-detection
STUDIO_REPOSITORY_OWNER=lee-to
STUDIO_REPOSITORY_REPO=aif-docs
STUDIO_REPOSITORY_BRANCH=main
